* {
    --white: #EAEAEA;
    --orange: #EE6600;
}


main {
  display: flex;
  flex-direction: row;
  gap: 2em;
  min-height: 100vh;
}

.image-container {
  display: flex;
  gap: 0;
  justify-content: center;
  flex-wrap: wrap;
}

.image-container img {
  width: 50%;
}

.images {
  display: flex;
  gap: 0;
  justify-content: center;
  flex-wrap: wrap;
}

.images img {
  width: 50%;
}

.info-page {
    display: flex;
    flex-direction: column;
    padding: 2em;
    width: 100%;
    gap: 2em;
}

footer {
    padding: 2em;
    width: 100%;
    background-color: #030303;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: var(--white);
}